<% include partials/header %>

<div class="container">
  <div class="row">
    <h2 style="text-align: center;">Login</h2>
    <div style="width: 30%; margin: 20px auto;">
      <form action="/login" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="username"  placeholder="username">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password"  placeholder="password">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block"> Submit </button>
        </div>
      </form>
      <a href="/campgrounds"> Go back</a>
    </div>

  </div>
</div>

<% include partials/footer %>
