<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h2 style="text-align: center;">Edit</h2>
    <div style="width: 30%; margin: 20px auto;">
      <form action="/campgrounds/<%=campground._id%>/?_method=PUT" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>" placeholder="name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="campground[image]" placeholder="image url" value="<%= campground.image %>">
        </div>
        <div class="form-group">
          <textarea name="campground[description]" rows="8" cols="47"><%= campground.description %></textarea>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="campground[price]" value="<%= campground.price %>">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block"> Submit </button>
        </div>
      </form>
      <a href="/campgrounds/<%=campground._id%>"> Go back</a>
    </div>

  </div>
</div>

<% include ../partials/footer %>
