<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1><span class="glyphicon glyphicon-tent"></span>Welcome To YelpCamp</h1>
      <p>View our hand-picked YelpCamp from all over the world</p>
      <p><a class="btn btn-primary btn-lg" href="/campgrounds/new" >Add new campground</a></p>
    </div>

  </header>

  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
      <% campgrounds.forEach(function(campground){ %>
      <div class="col-md-3 col-sm-6 size">
        <div class="thumbnail">
            <img src="<%= campground.image %>">
              <div class="caption">
                <h4><%= campground.name %></h4>
              </div>
              <div class="moreInfo">
                <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary btn-sm">More Info</a>
              </div>

        </div>


      </div>
      <% }); %>
  </div>
</div>


<% include ../partials/footer %>
