<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h2 style="text-align: center;">Create a new campground</h2>
    <div style="width: 30%; margin: 20px auto;">
      <form action="/campgrounds" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="name" value="" placeholder="name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="image" placeholder="image url">
        </div>
        <div class="form-group">
          <textarea name="description" rows="8" cols="47"></textarea>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="price" placeholder="price per night">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block"> Submit </button>
        </div>
      </form>
      <a href="/campgrounds"> Go back</a>
    </div>

  </div>
</div>

<% include ../partials/footer %>
