.thumbnail img{
  width: 100%;
}
.thumbnail {
  padding: 0;
  min-height: 300px;
}
.thumbnail .caption-full{
  padding: 9px;
}
.delete-form{
  display: inline;
}
.moreInfo{
  padding-bottom: 10px;
}
.size{

}
